<div class="d-flex flex-column justify-content-center align-items-center p-5 bg-color">
    <img src="{{ pokemon?.sprites?.front_default }}">
    <h1>{{ pokemon?.name }}</h1>
    <div class="mt-4">
        <button class="btn btn-success btn-lg me-2" (click)="catchRejectPokemon('catch')"
            [disabled]="pokemons.length >= 6">Cattura</button>
        <button class="btn btn-danger btn-lg" (click)="catchRejectPokemon('reject')"
            [disabled]="pokemons.length >= 6">Rifiuta</button>
    </div>
</div>