.btn-d-none {
  display: none;
}

.bg-color-success {
  background-color: #0df7217c;
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.bg-color-danger {
  background-color: #ff00008c;
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}
