.bg-image {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/356/495/649/pokemon-wallpaper-preview.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
